*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all linear;
}
a {
    text-decoration: none;
    color: inherit;
}
body > * {
    font-family: serif;
    letter-spacing: 2px;
    position: relative;
    min-width: 450px;
    min-height: 800px;
}
.noScroll {
    overflow: hidden;
}
/* ---------------------------- */

/*                              */

/*         SPLASH PAGE          */

/*                              */

/* ---------------------------- */

.verticalPusher {
    min-height: 100vh;
    z-index: -1;
}
.splashPage {
    color: white;
    display: block;
    min-height: 100vh;
    /*background-color: salmon;*/
    background-attachment: fixed;
    background-image: url('../images/pattern.jpg');
    background-size: cover;
    /*opacity: 0.6;*/
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
}
.splashPage > p {
    text-align: right;
    padding: 1em;
}
.splashPage > p:hover {
    color: rgb(223, 223, 223);
}
.splashPage > p:active {
    color: rgb(167, 167, 167);
    font-weight: 700;
}
.centerArea {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}
.centerArea img {
    width: 100%;
    max-width: 572px;
}
.centerArea h4 {
    color: white;
}
.searchBox {
    color: black;
}
.downArrow {
    display: block;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}
/* ---------------------------- */

/*                              */

/*            HEADER            */

/*                              */

/* ---------------------------- */

.mainHeader {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(41, 35, 26);
    min-height: 100px;
    color: rgb(185, 170, 151);
    font-size: 0;
    padding-top: 2%;
}
.mainHeader.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.title {
    display: inline-block;
    padding: 2.5vh 0 2vh;
    padding-left: 4vh;
    width: 35%;
    font-size: 1.2rem;
    vertical-align: top;
}
.title img {
    max-width: 100%;
    max-height: 68px;
}
.menuDrop {
    display: inline-block;
    width: 24%;
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
    padding-top: 10%;
}
.menuButton {
    display: block;
    border-radius: 10px;
    border: 1px solid rgb(185, 170, 151);
    width: 60%;
    margin: 0 auto;
}
.navBar {
    display: none;
    width: 30%;
    text-align: center;
    font-size: 1rem;
    vertical-align: top;
    padding-top: 3%;
}
.navBar span {
    cursor: pointer;
}
.navBar span:hover {
    color: rgb(223, 205, 183);
}
.navBar span:active {
    color: rgb(138, 125, 110);
}
.rightSection {
    display: inline-block;
    width: 38%;
    font-size: 1rem;
    overflow: hidden;
}
.topLinks {
    display: block;
    vertical-align: middle;
    text-align: right;
}
.topLinks a:hover {
    color: rgb(223, 205, 183);
}
.topLinks a:active {
    color: rgb(138, 125, 110);
}
.searchBar {
    vertical-align: middle;
    display: block;
    padding-top: 5%;
    text-align: right;
    width: 95%;
    float: right;
}
.sBox {
    width: 71%;
}
.sButton {
    width: 18%;
}
.mainHeader hr {
    margin-bottom: 1%;
}
/* ---------------------------- */

/*                              */

/*            WRAPPER           */

/*                              */

/* ---------------------------- */

.contentWrapper {
    background-color: white;
    display: block;
}
/* ---------------------------- */

/*                              */

/*            SIDEBAR           */

/*                              */

/* ---------------------------- */

.sideBar {
    display: none;
    background-color: rgb(185, 170, 151);
    width: 19%;
    height: 100vh;
    vertical-align: top;
    margin-top: 0;
    color: rgb(39, 31, 18);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    font-size: 1rem;
}
/*.sideBar.active {
    position: fixed;
    z-index: 1;
}*/

.priceSection {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}
.ps_on_BG {
    background-color: rgb(172, 141, 117);
}
.ps_off_BG {
    background-color: rgb(185, 170, 151);
}
.priceButton {
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 1em;
    cursor: default;
    background: -moz-linear-gradient(top, #d6be94 0%, #a16e5c);
    background: -webkit-gradient(linear, left top, left bottom, from(#d6be94), to(#a16e5c));
}
.priceButton:hover {
    background-color: rgb(2, 4, 1);
}
.priceButton:active {
    background: -moz-linear-gradient(top, #d6be94 0%, #634b38 50%, #a16e5c);
    background: -webkit-gradient(linear, left top, left bottom, from(#d6be94), color-stop(0.50, #634b38), to(#a16e5c));
}
.categories {
    display: block;
    width: 100%;
    margin-top: -32;
}
.categoryCentering {
    display: block;
    margin: 0 auto;
}
#Categories {
    padding: 1em;
    cursor: default;
}
#Categories li {
    list-style-type: none;
    padding-left: 1em;
    font-size: 0.9em;
    cursor: pointer;
}
#Categories li:hover {
    background-color: rgb(85, 70, 51);
    color: rgb(185, 170, 151);
}
#Categories li:active {
    background-color: rgb(54, 46, 35);
    color: rgb(233, 212, 186);
}
/* ---------------------------- */

/*                              */

/*            SPINNER           */

/*                              */

/* ---------------------------- */

.spinnerDiv {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.spinnerDiv img {
    height: 50px;
}
/* ---------------------------- */

/*                              */

/*            LISTINGS          */

/*                              */

/* ---------------------------- */

.sortingSection {
    vertical-align: top;
    padding-top: 0.5em;
}
.contentBlock {
    display: inline-block;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.contentBlock.active {
    padding-top: 120px;
}
.listingsNav {
    display: block;
    width: 100%;
}
.results {
    display: inline-block;
    width: 48%;
}
.sortingSection {
    display: inline-block;
    width: 48%;
    text-align: right;
}
.listingsDestination {
    padding-left: 0.4em;
    display: inline-block;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.listingsDestination a {
    text-decoration: none;
}
.Listing {
    display: inline-block;
    width: 50%;
    height: 275px;
    margin: 0;
    margin-bottom: 2em;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    position: relative;
    padding-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    filter: grayscale(90%);
    transition: all 0.35s ease;
    overflow: hidden;
}
.Listing:hover {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.6);
}
.Listing:hover {
    filter: grayscale(0%);
}
.clickSurface {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.saleBanner {
    display: none;
    position: absolute;
    top: 30;
    right: -43;
    background-color: rgb(255, 223, 155);
    border: 1px solid;
    text-align: center;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: rotate(45deg);
    width: 80%;
}
.listingInfoInside {
    display: none;
    position: absolute;
    bottom: 0;
    padding: 5% 7.5%;
    width: 100%;
    height: 79px;
    background-color: rgba(0, 0, 0, 0.5);
}
.listingInfoInside h5, .listingInfoInside h6 {
    margin-bottom: 0;
    color: white;
    font-weight: 100;
    text-shadow: 0px 1px 1px black;
}
.priceDisplay {
    display: none;
    position: absolute;
    bottom: 12;
    right: 12;
}
.listingInfoInside h5 {
    font-size: 1em;
    margin-bottom: .25em;
}
.listingInfoInside h6 {
    margin-top: 0.5em;
    text-align: right;
    font-size: 0.68em;
}
.listingInfoOutside {
    display: inline-block;
    padding-left: 0.4em;
    width: 38%;
}
.listingInfoOutside h6 {
    color: rgb(88, 82, 82);
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/* ---------------------------- */

/*                              */

/*         Media Queries        */

/*         Main Content         */

/*                              */

/* ---------------------------- */

@media (min-width: 0px) and (max-width: 600px) {
    .contentBlock.active {
        padding-left: 0;
    }
    .title {
        padding: 2.5% 0 2vh 1%;
    }
    .menuDrop {
        padding-top: 7%;
    }
    .topLinks {
        font-size: 0.8em;
    }
}
@media (min-width: 600px) and (max-width: 750px) {
    .navBar {
        font-size: 0.8rem;
        padding-top: 5%;
    }
    .rightSection {
        width: 30%;
        text-align: right;
    }
    .Listing {
        width: 49%;
    }
    #Categories {
        font-size: 0.9em;
    }
    #Categories li {
        font-size: 0.8em;
        padding-left: 2em;
    }
}
@media (min-width: 501px) and (max-width: 850px) {
    .listingsDestination {
        width: 100%;
    }
    .listingInfoInside {
        display: inline-block;
    }
    .listingInfoOutside {
        display: none;
    }
    .Listing {
        width: 49%;
    }
}
@media (min-width: 600px) {
    .title {
        width: 25%;
        font-size: 1.5em;
        padding-top: 2%;
    }
    .menuDrop {
        display: none;
    }
    .navBar {
        display: inline-block;
        width: 41%;
        padding-top: 3%;
    }
    .rightSection {
        width: 33%;
    }
    .listingsDestination {
        padding: 0.5em 0;
    }
    .sideBar {
        display: inline-block;
    }
    .categoryCentering {
        width: 108%;
    }
    .contentBlock {
        padding-left: 20%;
    }
    .priceButton {
        width: 100%;
        font-size: 0.8em;
    }
}
@media (min-width: 700px) {
    .Listing {
        height: 325px;
    }
    .categoryCentering {
        width: 91%;
    }
}
@media (min-width: 700px) and (max-width: 850px) {
    .Listing {
        width: 49%;
    }
    .priceButton {
        width: 85%;
    }
    .saleBanner {
        right: -65;
    }
}
@media (min-width: 850px) {
    .categoryCentering {
        width: 84%;
    }
    .Listing {
        width: 32%;
    }
    .listingsDestination {
        width: 100%;
    }
    .listingInfoInside {
        display: inline-block;
    }
    .listingInfoOutside {
        display: none;
    }
    .priceButton {
        width: 85%;
        font-size: 1em;
    }
}
@media (min-width: 970px) {
    .Listing {
        width: 32%;
    }
    .navBar {
        padding-top: 3%;
    }
    .categoryCentering {
        width: 75%;
    }
    .priceButton {
        width: 80%;
    }
}
@media (min-width: 1100px) {
    .categoryCentering {
        width: 87%;
    }
    .Listing {
        width: 24%;
        border: 1em;
        border-color: transparent;
    }
    .sideBar {
        width: 14%;
    }
    .contentBlock {
        padding-left: 15%;
    }
    .priceButton {
        width: 75%;
    }
    .saleBanner {
        top: 45;
        right: -63;
        width: 100%;
    }
}
@media (min-width: 1300px) {
    .saleBanner {
        right: -80;
    }
}
/* ---------------------------- */

/*                              */

/*        Hover Item Box        */

/*                              */

/* ---------------------------- */

.listingBox {
    display: none;
}
.mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.86;
    z-index: 3;
}
.hoverListing {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 70%;
    min-width: 315px;
    height: 95vh;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(146, 140, 120);
    background-color: rgb(41, 35, 26);
    color: white;
    z-index: 4;
    padding: 0.5em;
}
/* ---------------------------- */

/*        Left Side Hover       */

/* ---------------------------- */

.leftSide {
    display: block;
}
.imageBox {
    display: block;
    position: relative;
    min-height: 40%;
    max-height: 49%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(146, 140, 120);
    background-color: rgba(70, 70, 70, 0.7);
    margin-bottom: 0.5em;
}
.shadowDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px #000000;
}
.imageDiv {
    display: block;
    position: relative;
    width: 100%;
    height: 30vh;
    max-height: 34%;
    text-align: center;
    overflow: hidden;
    font-size: 0;
}
.imageDiv img {
    height: 100%;
}
.imageDivLeft {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.imageDivLeft:hover .arrowLeft {
    background-color: rgba(0, 0, 255, 0.2);
}
.itemImages {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.imageDivRight {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.imageDivRight:hover .arrowRight {
    background-color: rgba(0, 0, 255, 0.2);
}
.arrowLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3%;
    min-height: 5%;
    z-index: 4;
    padding: 14px 13px;
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    font-size: 1rem;
}
.arrowRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 3%;
    min-height: 5%;
    z-index: 4;
    padding: 14px 13px;
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    font-size: 1rem;
}
.listingTitle {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.35em 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.listingTitle * {
    color: white;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 5;
}
.listingTitle h6 {
    font-size: 0.9em;
}
.otherInfo {
    display: block;
    position: relative;
    width: 100%;
    min-height: 14vh;
}
.sellerBox {
    display: inline-block;
    width: 80%;
    padding-top: 1vh;
    padding-left: 8vw;
    line-height: 1;
    transform: scale(0.86);
    position: relative;
}
.sellerBox img {
    position: absolute;
    left: -5%;
    width: 7vw;
    min-width: 45px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    padding: 2% 0;
}
.sellerText {
    /*padding-left: 15px;*/
}
.sellerText p {
    line-height: 1;
    text-indent: 0.05;
    margin-bottom: 0.5em;
}
.yellow {
    color: yellow;
}
.white {
    color: white;
}
.noRating {
    display: none;
}
.uniqueness {
    position: absolute;
    top: -2;
    right: 5;
    width: 24%;
    max-width: 75px;
    line-height: 1;
    text-align: center;
    padding: 8px;
    padding-left: 11px;
    padding-top: 6px;
    background-color: rgb(253, 197, 127);
    border: 3px solid beige;
    color: black;
    border-radius: 40px;
}
/* ---------------------------- */

/*       Right Side Hover       */

/* ---------------------------- */

.infoContent {
    display: block;
    height: 32vh;
    width: 100%;
}
.descriptionBox {
    display: block;
    width: 97%;
    height: 24vh;
    line-height: 1.1;
    padding: 10px 15px;
    text-align: justify;
    overflow-y: scroll;
    border-radius: 10px;
    margin: 0 0.25em;
    background-color: rgb(185, 170, 151);
    color: black;
    border-radius: 10px;
    border: 1px solid rgb(146, 140, 120);
    letter-spacing: 0.4px;
    box-shadow: inset 0 0 10px #000000;
}
.descriptionBox::-webkit-scrollbar {
    background: transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background: black !important;
}
.etsyLink {
    display: inline-block;
    padding: 4% 12%;
    min-width: 307px;
    width: 100%;
    text-align: center;
}
.etsyButton {
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    padding: 0.25em 0.5em;
    background: -moz-linear-gradient(top, #f06b2d 0%, #a84619);
    background: -webkit-gradient(linear, left top, left bottom, from(#f06b2d), to(#a84619));
    color: white;
    vertical-align: middle;
    font-family: serif;
    border: 1px solid rgb(192, 163, 116);
}
.etsyButton:hover {
    background: -moz-linear-gradient(top, #f06b2d 0%, #5e2913 5%, #a84619);
    background: -webkit-gradient(linear, left top, left bottom, from(#f06b2d), color-stop(0.50, #5e2913), to(#a84619));
}
.etsyButton:active {
    background: -moz-linear-gradient(top, #a83b09 0%, #a6674c 5%, #752f11);
    background: -webkit-gradient(linear, left top, left bottom, from(#a83b09), color-stop(0.5, #a6674c), to(#752f11));
}
/* ---------------------------- */

/*       Outside the Hover      */

/* ---------------------------- */

.closeButton {
    display: block;
    position: fixed;
    top: 2.5%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 5;
    background-color: rgb(87, 78, 66);
    color: rgb(213, 213, 213);
    padding: 2px;
    text-indent: 1;
    border: 2px solid rgb(146, 140, 120);
}
.closeButton:hover {
    background-color: rgb(184, 176, 165);
    color: rgb(139, 125, 125);
    animation: 5s linear;
}
.shareItem {
    display: none;
    position: fixed;
    top: 51.5%;
    left: 86%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: grey;
    z-index: 5;
}
.socialLinks a, .etsyLink a {
    text-decoration: none;
}
.socialLinks {
    display: inline-block;
}
a img {
    width: 20px;
    vertical-align: middle;
    border-radius: 2px;
}
/* ---------------------------- */

/*                              */

/*         Media Queries        */

/*         Hover Listing        */

/*                              */

/* ---------------------------- */

@media (min-width: 600px) {
    .hoverListing {
        width: 85%;
    }
    .leftSide {
        display: inline-block;
        width: 54%;
        border-radius: 10px;
    }
    .imageBox {
        display: inline-block;
        max-height: 82%;
    }
    .imageDiv {
        height: 59vh;
        max-height: 59%;
    }
    .listingTitle {
        padding: 1em;
    }
    .otherInfo {
        padding-left: 4vh;
    }
    .sellerBox {
        transform: scale(1);
    }
    .sellerText {
        padding-top: 1vh;
    }
    .sellerBox img {
        left: 0;
    }
    .infoContent {
        vertical-align: top;
        display: inline-block;
        width: 44%;
    }
    .descriptionBox {
        min-height: 68vh;
        margin-bottom: 2vh;
    }
    .shareItem {
        display: block;
        position: static;
        top: 51.5%;
        left: 86%;
        transform: translate(0, 0);
        border-radius: 5px;
        background-color: grey;
        z-index: 5;
    }
    .etsyButton {
        display: block;
    }
    .closeButton {
        left: 92%;
    }
}
@media (min-width: 1030px) {
    .sellerBox img {
        min-width: 85px;
    }
}
