*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body > * {
    font-family: serif;
    letter-spacing: 2px;
    position: relative;
    min-width: 450px;
    min-height: 800px;
}
.noScroll {
    overflow: hidden;
}
/* ---------------------------- */

/*                              */

/*         SPLASH PAGE          */

/*                              */

/* ---------------------------- */

.verticalPusher {
    min-height: 100vh;
    z-index: -1;
}
.splashPage {
    color: white;
    display: block;
    min-height: 100vh;
    background-color: salmon;
    background-attachment: fixed;
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
}
.splashPage > p {
    text-align: right;
    padding: 1em;
}
.centerArea {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}
.centerArea h1, .centerArea h4 {
    color: white;
}
.searchBox {
    color: black;
}
/* ---------------------------- */

/*                              */

/*            HEADER            */

/*                              */

/* ---------------------------- */

.mainHeader {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: gray;
    min-height: 100px;
}
.mainHeader.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.title {
    display: inline-block;
    width: 35%;
    font-size: 1.2em;
    vertical-align: middle;
}
.menuDrop {
    display: inline-block;
    width: 24%;
    text-align: center;
}
.navBar {
    display: none;
    width: 30%;
    text-align: center;
    font-size: 1.2em;
}
.rightSection {
    display: inline-block;
    width: 38%;
    overflow: hidden;
}
.topLinks {
    display: block;
    vertical-align: middle;
    text-align: right;
}
.searchBar {
    vertical-align: middle;
    display: block;
    text-align: right;
}
.sBox {
    width: 71%;
}
.sButton {
    width: 18%;
}
/* ---------------------------- */

/*                              */

/*            WRAPPER           */

/*                              */

/* ---------------------------- */

.contentWrapper {
    background-color: white;
    display: block;
}
/* ---------------------------- */

/*                              */

/*            SIDEBAR           */

/*                              */

/* ---------------------------- */

.sideBar {
    display: none;
    background-color: darkgray;
    width: 19%;
    height: 100vh;
    vertical-align: top;
    margin-top: 0;
}
.sideBar.active {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
}
.priceButton {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background-color: purple;
}
.categories {
    display: block;
    width: 100%;
}
#Categories {
    padding: 1em;
}
#Categories li {
    list-style-type: none;
    padding-left: 1em;
    font-size: 0.9em;
}
/* ---------------------------- */

/*                              */

/*            LISTINGS          */

/*                              */

/* ---------------------------- */

.sortingSection {
    vertical-align: top;
    padding-top: 0.5em;
}
.contentBlock {
    display: inline-block;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.contentBlock.active {
    padding-left: 19.5%;
    padding-top: 100px;
    width: 100%;
}
.listingsNav {
    display: block;
    width: 100%;
}
.results {
    display: inline-block;
    width: 48%;
}
.sortingSection {
    display: inline-block;
    width: 48%;
    text-align: right;
}
.listingsDestination {
    padding-left: 0.4em;
    display: inline-block;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.listingsDestination a {
    text-decoration: none;
}
.Listing {
    display: inline-block;
    width: 50%;
    height: 200px;
    margin: 0;
    margin-bottom: 1em;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    position: relative;
    padding-top: 5px;
}
.listingInfoInside {
    display: none;
    position: absolute;
    bottom: 0;
    padding: 3%;
}
.listingInfoInside h5, .listingInfoInside h6 {
    margin-bottom: 0;
}
.listingInfoOutside {
    display: inline-block;
    padding-left: 0.4em;
    width: 38%;
}
.listingInfoOutside h6 {
    color: rgb(88, 82, 82);
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/* ---------------------------- */

/*                              */

/*         Media Queries        */

/*         Main Content         */

/*                              */

/* ---------------------------- */

@media (min-width: 0px) and (max-width: 600px) {
    .contentBlock.active {
        padding-left: 0;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    .navBar {
        font-size: 1em;
    }
    .rightSection {
        width: 30%;
        text-align: right;
    }
    .Listing {
        width: 49%;
    }
    #Categories {
        font-size: 0.9em;
    }
    #Categories li {
        font-size: 0.8em;
        padding-left: 2em;
    }
}
@media (min-width: 501px) and (max-width: 850px) {
    .listingsDestination {
        width: 100%;
    }
    .listingInfoInside {
        display: inline-block;
    }
    .listingInfoOutside {
        display: none;
    }
    .Listing {
        width: 49%;
    }
}
@media (min-width: 600px) {
    .title {
        width: 30%;
        font-size: 1.5em;
    }
    .menuDrop {
        display: none;
    }
    .navBar {
        display: inline-block;
        width: 38%;
    }
    .rightSection {
        width: 30%;
    }
    .listingsDestination {
        padding: 0.5em;
    }
    .sideBar {
        display: inline-block;
    }
    .contentBlock {
        width: 80%;
    }
}
@media (min-width: 700px) and (max-width: 850px) {
    .Listing {
        width: 32%;
    }
}
@media (min-width: 850px) {
    .Listing {
        width: 24%;
        border: 1em;
        border-color: transparent;
        height: 200px;
    }
    .listingsDestination {
        width: 100%;
    }
    .listingInfoInside {
        display: inline-block;
    }
    .listingInfoOutside {
        display: none;
    }
    .sideBar {
        width: 15%;
    }
    .contentBlock.active {
        padding-left: 15.5%;
        width: 100%;
    }
}
@media (min-width: 970px) {
    .sideBar {
        width: 13%;
    }
    .contentBlock.active {
        padding-left: 13.5%
    }
}
/* ---------------------------- */

/*                              */

/*        Hover Item Box        */

/*                              */

/* ---------------------------- */

.listingBox {
    display: none;
}
.mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.86;
    z-index: 3;
}
.hoverListing {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 70%;
    min-width: 315px;
    height: 95vh;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(146, 140, 120);
    background-color: rgb(41, 35, 26);
    color: white;
    z-index: 4;
    padding: 0.5em;
}
/* ---------------------------- */

/*        Left Side Hover       */

/* ---------------------------- */

.leftSide {
    display: block;
}
.imageBox {
    display: block;
    position: relative;
    min-height: 40%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(146, 140, 120);
    background-color: rgba(70, 70, 70, 0.7);
    margin-bottom: 0.5em;
}
.shadowDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px #000000;
}
.imageDiv {
    display: block;
    background-color: blue;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.imageDiv img {
    width: 100%;
    min-height: 100%;
}
.arrowLeft {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-30%);
    width: 3%;
    min-height: 5%;
    z-index: 4;
    padding: 14px 13px;
    text-align: center;
    background-color: gray;
    opacity: 0.6;
}
.arrowRight {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-30%);
    width: 3%;
    min-height: 5%;
    z-index: 4;
    padding: 14px 13px;
    text-align: center;
    background-color: gray;
    opacity: 0.6;
}
.listingTitle {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.35em 0;
}
.listingTitle * {
    color: white;
    line-height: 1;
    margin-bottom: 5;
}
.otherInfo {
    display: block;
    position: relative;
    width: 100%;
    min-height: 14vh;
}
.sellerBox {
    display: inline-block;
    width: 80%;
    padding-top: 1vh;
    padding-left: 8vw;
    line-height: 1;
    transform: scale(0.86);
    position: relative;
}
.sellerBox img {
    position: absolute;
    left: -5%;
    width: 7vw;
    min-width: 45px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    padding: 2% 0;
}
.sellerText {
    /*padding-left: 15px;*/
}
.sellerText p {
    line-height: 1;
    text-indent: 0.05;
    margin-bottom: 0.5em;
}
p span {
    color: yellow;
    margin-right: -5px;
}
.uniqueness {
    position: absolute;
    top: -2;
    right: 5;
    width: 24%;
    max-width: 75px;
    line-height: 1;
    text-align: center;
    padding: 8px;
    padding-left: 11px;
    padding-top: 6px;
    background-color: rgb(253, 197, 127);
    border: 3px solid beige;
    color: black;
    border-radius: 40px;
}
/* ---------------------------- */

/*       Right Side Hover       */

/* ---------------------------- */

.infoContent {
    display: block;
    height: 32vh;
    width: 100%;
}
.descriptionBox {
    display: block;
    width: 97%;
    height: 24vh;
    line-height: 1.1;
    padding: 10px 15px;
    text-align: justify;
    overflow-y: scroll;
    border-radius: 10px;
    margin: 0 0.25em;
    background-color: rgb(185, 170, 151);
    color: black;
    border-radius: 10px;
    border: 1px solid rgb(146, 140, 120);
    letter-spacing: 0.4px;
    box-shadow: inset 0 0 10px #000000;
}
.descriptionBox::-webkit-scrollbar {
    background: transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background: black !important;
}
.etsyLink {
    display: inline-block;
    padding: 4% 12%;
    min-width: 307px;
    text-align: center;
}
.etsyButton {
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    padding: 0.25em 0.5em;
    background-color: rgb(227, 72, 0);
    color: white;
    vertical-align: middle;
    font-family: serif;
    border: 1px solid rgb(192, 163, 116);
}
/* ---------------------------- */

/*       Outside the Hover      */

/* ---------------------------- */

.closeButton {
    display: block;
    position: fixed;
    top: 2.5%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 5;
    background-color: rgb(87, 78, 66);
    color: rgb(213, 213, 213);
    padding: 2px;
    text-indent: 1;
    border: 2px solid rgb(146, 140, 120);
}
.shareItem {
    display: none;
    position: fixed;
    top: 51.5%;
    left: 86%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: grey;
    z-index: 5;
}
.socialLinks a, .etsyLink a {
    text-decoration: none;
}
.socialLinks {
    display: inline-block;
}
a img {
    width: 20px;
    vertical-align: middle;
    border-radius: 2px;
}
/* ---------------------------- */

/*                              */

/*         Media Queries        */

/*         Hover Listing        */

/*                              */

/* ---------------------------- */

@media (min-width: 600px) {
    .hoverListing {
        width: 85%;
    }
    .leftSide {
        display: inline-block;
        width: 55%;
        border-radius: 10px;
    }
    .imageBox {
        display: inline-block;
        width: 55%;
    }
    .infoContent {
        display: inline-block;
        width: 44%;
    }
    .descriptionBox {
        min-height: 60vh;
    }
    .imageDiv {
        height: 50vh;
    }
    .etsyButton {
        display: block;
    }
    .listingTitle {
        padding: 1em;
    }
}
