<div class="leftSide">
    <div class="imageBox">
        <div class="shadowDiv"></div>
        <div class="imageDiv">
            <div class="itemImages">
<!--                 <img src="<%= Images[0].url_fullxfull %>">
 -->            </div>
            <div class="imageDivLeft" id="imageDivLeft">        
                <div class="arrowLeft"><i class="fa fa-chevron-left"></i>
                </div>
            </div>
            <div class="imageDivRight" id="imageDivRight">
                <div class="arrowRight"><i class="fa fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="listingTitle">
            <h4>
                <span title="<%= title %>"><%= short_title %></span>
            </h4>
            <h6>
                <em>Only $
                    <%= price %>
                </em>
            </h6>
        </div>
    </div>
    <div class="otherInfo">
        <div class="sellerBox" id="leftBox">
        </div>
        <div class="uniqueness"><i>Only <em><%= quantity %></em> Left!</i>
        </div>
    </div>
</div>
<div class="infoContent">
    <div class="descriptionBox">
        <em>Description:</em>
        <p>
            <%= description %>
        </p>
    </div>
    <div class="etsyLink">
        <a href="<%= url %>">
            <div class="etsyButton">
                View this item on <b>Etsy</b>
            </div>
        </a>
    </div>
</div>