<!-- <a href = "#/listing/<%=listing_id%>"> -->
	<div class="Listing" style="background-image: url(<%= MainImage.url_fullxfull %>)">
   		<div class="listingInfoInside">
       		<h5><%= short_title %></h5>
        	<h6>Only $<%= price %>!</h6>
    	</div>
	</div>
	<div class="listingInfoOutside">
        <h6><%= title %></h6>
        <h6>Only $<%= price %>!</h6>
	</div>
<!-- </a> -->
